.slot {
	width: 700px;
	height: 600px;
	background: teal;
	margin: 50px auto;
}

.slot .drums{
	display: flex;
	position: relative;
}

.slot .crossLine{
	width: 100%;
	height: 5px;
	background: red;
	position: absolute;
	top: 50%;
	left: 0;
}